ul{
    display: flex;
    justify-content: flex-end;
    list-style-type : none;
    flex-direction:row;
    gap: 1rem;
}

/* h1{
    text-align: center;
} */

.body {
    display: flex;
    align-items: center;
    /* background-color: blue; */
    flex-direction: column;
    
}

.button-home{
    display: flex;
    gap: 2rem;
}

td,th{
    text-align: center;
    border: 1px solid black;
}

.table-user,.table-admin{
    border: 1px solid black;  
    width: 100%;
}
